<!DOCTYPE html>
<html lang="en">

<head th:replace="~{component::headerFragment}"></head>

<head>
    <link rel="stylesheet" href="resources/style/employee.css">
    <script src="resources/controller/employee.js"></script>
</head>

<body>
    <nav th:replace="~{component::navFragment}"></nav>
    <div th:replace="~{component::offcanvasFragment}"></div>

    <div class="container-fluid mt-3 mb-3">

        <!-- title area start -->
        <div class="row m-2">
            <div class="col-12 text-center 
            title-header-div">
                <h2 class="fw-bold"> Employee Management </h2>
            </div>
        </div>
        <!-- title area End -->

        <!-- Card area start  -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-6">
            </div>

            <div class="col-4 text-end gap-3">
                <button type="button" class="Btn printTableBtn" onclick="printEmployeeDataTable('tableEmployee')">
                    Print
                </button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#employeeAddModal" class="Btn addBtn">
                    Add New Employee
                </button>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- Card area end  -->

        <!-- table Area Start-->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card employee-card">
                    <div class="card-body employee-cardbody">

                        <table class="table table-hover" id="tableEmployee">
                            <thead class="table-header">
                                <tr>
                                    <th> # </th>
                                    <th> Employee ID </th>
                                    <th> Full Name </th>
                                    <th> NIC </th>
                                    <th> Gender </th>
                                    <th> Email </th>
                                    <th> Mobile No </th>
                                    <!-- <th> Land No </th>
                                    <th> DOB </th> -->
                                    <th> Designation </th>
                                    <th> Status </th>
                                </tr>
                            </thead>

                            <tbody class="table-body">

                                <!-- create static values for table -->
                                <!-- used for initial designs -->
                                <!-- probebly this appear when data not loading to table from db -->
                                <tr>
                                    <td> 0</td>
                                    <td> 0000 </td>
                                    <td> Initial User </td>
                                    <td> 00000000000V </td>
                                    <td> 0000000000 </td>
                                    <td> inituser@gmail.com </td>
                                    <td> Doctor </td>
                                    <td>
                                        <p>Resign</p>
                                    </td>


                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-1"></div>

        </div>
        <!-- table Area End-->

    </div>

    <!-- employee Add Modal -->
    <div class="modal fade" id="employeeAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Employee</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="buttonModalClose()"></button>
                </div>
                <form id="formEmployee" onsubmit="return false">
                    <div class="modal-body">

                        <!-- Employee Profile Image Upload Start -->
                        <div class="row mb-1">
                            <div class="col-5 d-flex">
                                <img src="/resources/image/initialprofile.jpg" alt="" style="height: 75px; width: 75px;" id="imgEmployeePhoto">
                                <div class="profileImgBtn">
                                    <div class="d-flex">
                                        <button id="btnSelectImage" type="button" class="btn btn-common-image btn-user-selectImage" onclick="FileEmployeePhoto.click()">Select Image</button>
                                        <button id="btnClearImage" type="button" class="btn  btn-common-image btn-user-removeImage" onclick="employeePictureRemove()">Clear Image</button>
                                    </div>
                                    <p id="textEmployeePhoto">No Image Selected</p>
                                </div>
                                <input type="file" class="d-none" id="FileEmployeePhoto" onchange="validateFileField(this,'employee','photo','photoname','oldEmployee',imgEmployeePhoto,textEmployeePhoto)">
                                <!--  /todo add default image-->
                            </div>
                        </div>
                        <!-- Employee Profile Image Upload End -->

                        <!-- Full Name Input Start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="your fullname" name="fullname" id="textFullName" required data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ex - Yasith Nawodya De Silva" onkeyup="textFullNameValidator(this)">
                                    <label for="fullname">Full Name <span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                        </div>
                        <!-- Full Name Input end -->

                        <!-- nic Input Start -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="" required onkeyup="textValidator(this,'^(([0-9]{9}[VvXx])||([0-9]{12}))$','employee','nic')" id="textNIC" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ex- 000000000V / 200000000000">
                                    <label for="textNIC">National Identity Card <span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- callingname Input end -->
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="" required list="dlFullNameParts" onkeyup="textCallingNameValidator(this)" id="textCallingName">
                                    <label for="callingname">Calling Name<span class="requiredIcon">*</span></label>

                                    <datalist id="dlFullNameParts">
                                    <option value="abc">
                                </datalist>
                                </div>
                            </div>
                            <!-- callingname Input end -->
                        </div>

                        <div class="row">
                            <!-- email start -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="textEmail" placeholder="Enter Email" onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'employee','email')" required>
                                    <label for="textEmail">Email<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- email end -->
                            <!-- radio gender start -->
                            <div class="col-4">
                                <div class="mb-3 radioAlign">
                                    <label class="">Gender<span class="requiredIcon">*</span></label>
                                    <div class="radioBtnAlign" id="gender">

                                        <div class="d-flex gap-2">
                                            <input type="radio" id="radioMale" value="Male" onchange="radioValidator(this,'','employee','gender',label1Id,label2Id)" name="gender" required>
                                            <label for="radioMale" class="fw-bold" id="label1Id">Male</label>
                                        </div>
                                        <div class="d-flex gap-2">
                                            <input type="radio" id="radioFemale" value="Female" onchange="radioValidator(this,'','employee','gender',label2Id,label1Id)" name="gender" required>
                                            <label for="radioFemale" id="label2Id" class="fw-bold">Female</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- radio gender end -->
                            <!-- dob start -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="dateDateOfBirth" onchange="textValidator(this,'^[0-9]{4}[-][0-9]{2}[-][0-9]{2}$','employee','dob')" placeholder="" required>
                                    <label for="dateDateOfBirth">Date of Birth<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- dob end -->
                        </div>
                        <div class="row">
                            <!-- mobile start -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" required id="textMobileNo" onkeyup="textValidator(this,'^[0][7][01245678][0-9]{7}$', 'employee', 'mobile')" placeholder="Enter Mobile no">
                                    <label for="textMobileNo">Mobile No<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- mobile end -->
                            <!-- land start -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="textLandNo" placeholder="Enter Land No" onkeyup="textValidator(this,'^[0][0-9]{9}$','employee','land')">
                                    <label for="land">Land No</label>
                                </div>
                            </div>
                            <!-- land end -->
                            <!-- land start -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="textAddress" placeholder="Enter Address" required onkeyup="textValidator(this,'^(([0-9\\/\\-\\sA-Za-z]{1,20}[\\,][\\s])+([A-Z][a-z0-9\\-]{1,20}[.]))$','employee','address')"></textarea>
                                    <label for="address">Address<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- land end -->
                        </div>
                        <div class="row">
                            <!-- note start -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="textNote" placeholder="Enter Note" onkeyup="textValidator(this,'^(([0-9A-Za-z\\.\\-\\s]{1,100}))$','employee','address')"></textarea>
                                    <label for="note">Note</label>
                                </div>
                            </div>
                            <!-- note end -->
                            <!--designation start-->
                            <div class="col-4">
                                <div class="mb-3 form-floating">
                                    <select name="designation" class="form-select" id="selectDesignation" onchange="selectDynamicValidator(this,'','employee','designation_id')">
                                    
                                </select>
                                </div>
                            </div>
                            <!--designation end-->
                            <!--employee status start-->
                            <div class="col-4">
                                <div class="mb-3 form-floating">
                                    <select name="employeestatus" class="form-select" id="selectEmployeeStatus" required onchange="selectDynamicValidator(this,'','employee','employeestatus_id')">
                                   
                                </select>
                                </div>
                            </div>
                            <!--employee status end-->
                        </div>
                    </div>

                    <div class="row mt-3 mb-3">
                        <div class="col-6">
                            <div id="divModifyButton">
                                <div class="row" id="">
                                    <div class="col-1"></div>
                                    <div class="col-2"><button type="button" class="modal-button modal-btn-print" data-bs-dismiss="modal" onclick="printEmployee(window['editOb'], window['editRow'])">Print</button></div>
                                    <div class="col-2"><button type="button" class="modal-button modal-btn-delete" id="buttonDelete" onclick="deleteEmployee(window['editOb'], window['editRow'])">Delete</button></div>
                                    <div class="col-7"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-2"><button type="button" id="buttonClear" class="modal-button modal-btn-clear">Clear</button></div>
                                <div class="col-2"><button type="submit" id="buttonUpdate" class="modal-button modal-btn-update" onclick="buttonEmployeeUpdate()">Update</button></div>
                                <div class="col-2"><button type="submit" id="buttonSubmit" class="modal-button modal-btn-submit" onclick="buttonEmployeeSubmit()">Submit</button></div>
                                <div class="col-1"></div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>






    <!--PrintUser-->
    <div class="print-container" style="display: none;" id="printEmployeeDetails">
        <div class="d-flex gap-3 p-3">
            <img src="/resources/image/logo/logo.png" width="50px" height="50px">
            <div>
                <p class="label-logo">
                    <b>ByteTech Solution</b>
                    <br> No 32A, Galle Road, Panadura <br> 0382291010/ 0773881010
                </p>

            </div>

        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">



                <div class="bg-white print-window">
                    <img src="/resources/image/initialprofile.jpg" style="margin-left: 20px;margin-top: 20px;border-radius: 50px;" width="100px" height="100px" id="printPhotoEmployeeProfile">
                    <h2 class="text-center">Employee Details</h2>

                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div class="col-3">Employee ID</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextId"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Employee Name</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextFullName"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">National ID No</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextNIC"></div>
                        <div class="col-2"></div>
                    </div>


                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Email</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextEmail"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Calling Name</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextCallingName"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Address</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextAddress"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Gender</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printRadioGender"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Mobile No</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextMobile"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Land No</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printTextLand"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Date of Birth</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printDateDob"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-3">Designation</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printSelectDesignation"></div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row mt-2 mb-2">
                        <div class="col-3"></div>
                        <div class="col-3">Employee Status</div>
                        <div class="col-1">:</div>
                        <div class="col-3" id="printSelectStatus"></div>
                        <div class="col-2"></div>
                    </div>
                </div>

            </div>
            <div class="col-2"></div>

        </div>
    </div>

</body>

</html>