<!DOCTYPE html>
<html lang="en">

<head th:replace="~{component::headerFragment}"></head>

<head>
    <link rel="stylesheet" href="resources/style/order.css">
    <script src="resources/controller/order.js"></script>
</head>


<body>

    <nav th:replace="~{component::navFragment}"></nav>
    <div th:replace="~{component::offcanvasFragment}"></div>

    <div class="container-fluid mt-2">

        <!-- title area start -->
        <div class="row m-2">
            <div class="col-12 text-center 
            title-header-div">
                <h2> Order Management </h2>
            </div>
        </div>
        <!-- title area End -->

        <!-- Card area start  -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-6">

            </div>
            <div class="col-4 text-end">
                <button type="button" data-bs-toggle="modal" data-bs-target="#grnAddModal" class="btn addBtn">
                    Add New Order </button>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- Card area end  -->

        <!-- table Area Start-->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card employee-card">
                    <div class="card-body employee-cardbody">

                        <table class="table table-hover" id="tableSupplier">
                            <thead class="table-header">
                                <tr>
                                    <th> # </th>
                                    <th> Full Name </th>
                                    <th> NIC </th>
                                    <th> Mobile </th>
                                    <th> Email </th>
                                    <th> Status </th>
                                    <th> Designation </th>
                                    <th> Modify </th>
                                </tr>
                            </thead>

                            <tbody class="table-body">

                                <!-- create static values for table -->
                                <!-- used for initial designs -->
                                <!-- probebly this appear when data not loading to table from db -->
                                <tr>
                                    <td> 1 </td>
                                    <td> Initial User </td>
                                    <td> 00000000000V </td>
                                    <td> 0000000000 </td>
                                    <td> inituser@gmail.com </td>
                                    <td> Doctor </td>
                                    <td>
                                        <button class="success-status-btn"><div class="status-dot"></div><span>Active</span></button>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btnEdit">
                                            <i class="fa-solid fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn ms-1 me-1 btnDel">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                        <button type="button" class="btn btnView">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-1"></div>

        </div>
        <!-- table Area End-->

    </div>

    <!-- employee Add Modal -->
    <div class="modal fade" id="grnAddModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Order</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">Genaral Order Details</div>
                                        <div class="card-body">
                                            <!-- supplier Basic Details -->
                                            <form id="formSupplier">

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-floating mb-3">
                                                            <select name="brand" id="selectCustomer" class="form-select" onchange="selectDynamicValidator(this,'','invoice','customer_id')">
                                                                <option value=""  selected disabled>Select Customer</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <!-- PURCHASE REQUEST Input Start -->

                                                    <div class="col-6">
                                                        <div class="form-floating mb-3">
                                                            <input type="number" class="form-control" id="decimalTtoalAmount" placeholder="" required onkeyup="textValidator(this,'^[0][7][01245678][0-9]{7}$', 'invoice', 'totalamount')">
                                                            <label for="decimalTtoalAmount">Total Amount<span class="requiredIcon">*</span></label>
                                                        </div>
                                                    </div>
                                                    <!-- PURCHASE REQUEST Input end -->
                                                    <div class="col-6">
                                                        <div class="form-floating mb-3">
                                                            <select name="brand" id="selectSeasonalDiscount" class="form-select" onchange="selectDynamicValidator(this,'','invoice','seasonaldiscount_id')">
                                                                <option value=""  selected disabled>Seasonal Discount</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <!-- total amount  Start -->
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-floating mb-3">
                                                            <input type="number" class="form-control" id="decimalFinalAmount" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'invoice','finalamount')">
                                                            <label for="decimalFinalAmount">Final Amount<span class="requiredIcon">*</span></label>
                                                        </div>
                                                    </div>
                                                    <!-- total amount end -->
                                                    <!-- discount rate start -->
                                                    <div class="col-4">
                                                        <div class="form-floating mb-3">
                                                            <input type="number" class="form-control" id="decimalPaidAmount" placeholder="" onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'invoice','paidamount')">
                                                            <label for="decimalPaidAmount">Paid Amount</label>
                                                        </div>
                                                    </div>
                                                    <!-- discount rate end -->
                                                    <!-- final amount start -->
                                                    <div class="col-4">
                                                        <div class="form-floating mb-3">
                                                            <input type="number" class="form-control" id="decimalBalance" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'invoice','balance')">
                                                            <label for="decimalBalance">Balance<span class="requiredIcon">*</span></label>
                                                        </div>
                                                    </div>
                                                    <!-- final amount end -->
                                                </div>

                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-floating mb-3">
                                                            <select name="brand" id="selectInvoiceStatus" class="form-select" onchange="selectDynamicValidator(this,'','invoice','invoicestatus_id')">
                                                                <option value=""  selected disabled>Select Invoice Status</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">Order Item Selection</div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="mb-3 form-floating">
                                                            <select name="brand" id="selectCategory" class="form-select" onchange="selectDynamicValidator(this,'','invoiceItem','category_id')">
                                                            <option value=""  selected disabled>Select Category</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="mb-3 form-floating">
                                                            <select name="brand" id="selectItemName" class="form-select" onchange="selectDynamicValidator(this,'','invoiceItem','itemname_id')">
                                                            <option value=""  selected disabled>Select Item Name</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="mb-3 form-floating">
                                                            <select name="brand" id="selectSerialNo" class="form-select" onchange="selectDynamicValidator(this,'','invoiceItem','serialno')">
                                                            <option value=""  selected disabled>Select Serial No</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="number" class="form-control" id="decimalPurchasePrice" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'invoiceItem','purchaseprice')">
                                                            <label for="decimalPurchasePrice">Purchase Price<span class="requiredIcon">*</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="mb-3 form-floating">
                                                            <input type="number" class="form-control" id="numberQuantity" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'invoiceItem','quantity')">
                                                            <label for="numberQuantity">Quantity<span class="requiredIcon">*</span></label>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="mb-3 form-floating">
                                                            <input type="number" class="form-control" id="decimalLinePrice" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'invoiceItem','lineprice')">
                                                            <label for="decimalLinePrice">LinePrice<span class="requiredIcon">*</span></label>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="mb-3 form-floating">
                                                            <input type="number" class="form-control" id="numberWarranty" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9\\_\\-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'invoiceItem','warranty')">
                                                            <label for="numberWarranty">Warranty<span class="requiredIcon">*</span></label>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-2"><button class="btn inner-cancel-btn modal-button">Clear</button></div>
                                                <div class="col-6"></div>
                                                <div class="col-2"><button class="btn inner-update-btn modal-button" onclick="innerSupplierProductUpdate()">Update</button></div>
                                                <div class="col-2"><button class="btn inner-add-btn modal-button" onclick="innerSupplierProductAdd()">Add</button></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">Order Product Overview</div>
                                <div class="card-body">
                                    <table class="table table-hover table-striped" id="innerSupplierTable">
                                        <thead class="table-header">
                                            <tr align="center">
                                                <th> # </th>
                                                <th> Category </th>
                                                <th> Brand </th>
                                                <th> </th>
                                            </tr>
                                        </thead>

                                        <tbody class="table-body">

                                            <!-- create static values for table -->
                                            <!-- used for initial designs -->
                                            <!-- probebly this appear when data not loading to table from db -->
                                            <tr align="center" style="vertical-align: middle;">
                                                <td align="center"> 1 </td>
                                                <td align="center"> CPU0001 </td>
                                                <td align="center"> Core I7 20th Gen User Cor </td>
                                                <td>
                                                    <button type="button" class="btn ms-1 me-1 btnDel">
                                                        <i class="fa-regular fa-circle-xmark"></i>
                                                    </button> </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4" style="display: flex; justify-content: center;gap: 5px;">
                                <button type="button" class="modal-button modal-btn-print" data-bs-dismiss="modal">Print</button>
                                <button type="button" class="modal-button modal-btn-delete" data-bs-dismiss="modal">Delete</button>
                            </div>
                            <div class="col-8"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-7" style="display: flex; justify-content: center;gap: 12px;">
                                <button type="button" class="modal-button modal-btn-clear" data-bs-dismiss="modal" onclick="clearSupplier()">Clear</button>
                                <button type="button" class="modal-button modal-btn-update" data-bs-dismiss="modal" onclick="updateSupplier()">Update</button>
                                <button type="button" class="modal-button modal-btn-submit" onclick="submitSupplier()">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>