<!DOCTYPE html>
<html lang="en">

<head th:replace="~{component::headerFragment}"></head>

<head>
    <link rel="stylesheet" href="resources/style/setupprofile.css">
    <script src="resources/controller/setupprofile.js"></script>
</head>


<body>

    <nav th:replace="~{component::navFragment}"></nav>
    <div th:replace="~{component::offcanvasFragment}"></div>

    <div class="container-fluid mt-3 mb-3">

        <div class="row contentMargin">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card setup-card">
                    <div class="card-header">
                        <h2>Setup My Account</h2>
                        <p>Complete your account configuration</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row mb-4">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="item-img-container">
                                            <img src="/resources/image/noitem.jpg" alt="no item" id="imgUserSetupPhoto" class="item-img" />
                                            <div class="item-img-overlay">
                                                <button id="btnSelectImage" type="button" class="btn btn-primary btn-item-select-image" onclick="FileUserSetupPhoto.click()">Select Image</button>
                                                <button id="btnClearImage" type="button" class="btn btn-danger btn-item-remove-image" onclick="userSetupPictureRemove()">Clear Image</button>
                                            </div>
                                            <input type="file" class="d-none" id="FileUserSetupPhoto" onchange="profileSetupValidateFileField(this, 'lguser', 'photo', imgUserSetupPhoto)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="textUsername" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9]{5,10}$','lguser','username')">
                                    <label for="textUsername">Username<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="textEmail" placeholder="" required onkeyup="textValidator(textEmail,'^[A-Za-z0-9_-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$','lguser','email')">
                                    <label for="textEmail">Email<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="passwordCurrentPassword" placeholder="" required onkeyup="textValidator(passwordCurrentPassword,'^[A-Za-z0-9]{8,20}$','lguser','oldpassword')">
                                    <label for="passwordCurrentPassword">Current Password<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="passwordNewPassword" placeholder="" required onkeyup="textValidator(passwordNewPassword,'^[A-Za-z0-9]{8,20}$','lguser','newpassword')">
                                    <label for="passwordNewPassword">New Password<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="passwordNewRePassword" placeholder="" required onkeyup="passwordRetypeValidator()">
                                    <label for="passwordNewRePassword">Re-new Password <span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="col-6">
                                    <button id="buttonReset" class="modal-button modal-btn-clear" type="reset" style="width: 120px;">reset</button>
                                </div>
                                <div class="col-6 buttonSubmission">
                                    <button id="buttonSave" class="Btn modal-button modal-btn-submit" style="width: 160px;" onclick="saveChangers()">Save Changes</button>
                                    <button id="buttonEdit" class="Btn modal-button modal-btn-submit" style="width: 160px;">Edit Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


</body>

</html>