<!DOCTYPE html>
<html lang="en">

<head th:replace="~{component::headerFragment}"></head>

<head>
    <link rel="stylesheet" href="resources/style/setupprofile.css">
    <script src="resources/controller/setupprofile.js"></script>
</head>


<body>

    <nav th:replace="~{component::navFragment}"></nav>
    <div th:replace="~{component::offcanvasFragment}"></div>

    <div class="container-fluid mt-3 mb-3">

        <div class="row contentMargin">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card setup-card">
                    <div class="card-header">
                        <h2>Setup My Account</h2>
                        <p>Complete your account configuration</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row mb-4">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="item-img-container">
                                            <img src="/resources/image/noitem.jpg" alt="no item" id="imgProcessorPhoto" class="item-img" />
                                            <div class="item-img-overlay">
                                                <button id="btnSelectImage" type="button" class="btn btn-primary btn-item-select-image" onclick="FileProcessorPhoto.click()">Select Image</button>
                                                <button id="btnClearImage" type="button" class="btn btn-danger btn-item-remove-image" onclick="processorPictureRemove()">Clear Image</button>
                                            </div>
                                            <p id="textProcessorPhoto" class="image-item-status">No Image Selected</p>
                                            <input type="file" class="d-none" id="FileUserSetupPhoto" onchange="validateFileField(this, 'processor', 'photo', 'photoname', 'oldProcessor', imgProcessorPhoto, textProcessorPhoto)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="textUsername" placeholder="" required>
                                    <label for="textUsername">Username<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="textEmail" placeholder="" required>
                                    <label for="textEmail">Email<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="passwordCurrentPassword" placeholder="" required>
                                    <label for="passwordCurrentPassword">Current Password<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="passwordNewPassword" placeholder="" required>
                                    <label for="passwordNewPassword">New Password<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="passwordNewRePassword" placeholder="" required>
                                    <label for="passwordReNewPassword">Re-new Password <span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="col-6">
                                    <button id="buttonReset" class="modal-button modal-btn-clear" style="width: 120px;">reset</button>
                                </div>
                                <div class="col-6 buttonSubmission">
                                    <button id="buttonSave" class="Btn modal-button modal-btn-submit" style="width: 160px;">Save Changes</button>
                                    <button id="buttonEdit" class="Btn modal-button modal-btn-submit" style="width: 160px;">Edit Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


</body>

</html>