<!DOCTYPE html>
<html lang="en">

<head th:replace="~{component::headerFragment}"></head>

<head>
    <link rel="stylesheet" href="/resources/style/user.css">
    <script src="resources/controller/user.js"></script>
</head>

<body>

    <div class="container-fluid mt-2">

        <!-- title area start -->
        <div class="row m-2">
            <div class="col-12 text-center 
            title-header-div">
                <h2> User Management </h2>
            </div>
        </div>
        <!-- title area End -->

        <!-- Card area start  -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-6">

            </div>
            <div class="col-4 text-end">
                <button type="button" data-bs-toggle="modal" data-bs-target="#userAddModal" class="btn addBtn">
                    Add New User </button>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- Card area end  -->

        <!-- table Area Start-->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card employee-card">
                    <div class="card-body employee-cardbody">

                        <table class="table table-hover" id="tableUser">
                            <thead class="table-header">
                                <tr>
                                    <th> # </th>
                                    <th> Fullname </th>
                                    <th> Username </th>
                                    <th> Email </th>
                                    <th> Roles </th>
                                    <th> Status </th>

                                </tr>
                            </thead>

                            <tbody class="table-body">

                                <!-- create static values for table -->
                                <!-- used for initial designs -->
                                <!-- probebly this appear when data not loading to table from db -->
                                <tr>
                                    <td> 1 </td>
                                    <td> Initial User </td>
                                    <td> initialas </td>
                                    <td> inituser@gmail.com </td>
                                    <td> qw32323 </td>
                                    <td> Active </td>


                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-1"></div>

        </div>
        <!-- table Area End-->

    </div>

    <!-- employee Add Modal -->
    <div class="modal fade" id="userAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="buttonModalClose()"></button>
                </div>
                <div class="modal-body">
                    <form id="formUser" onsubmit="return false">
                        <!-- Employee name select Start -->
                        <div class="row">

                            <div class="col-5 d-flex">
                                <img src="/resources/image/initialprofile.jpg" alt="" style="height: 75px; width: 75px;" id="imgUserPhoto">
                                <div>
                                    <div class="d-flex">
                                        <button id="btnSelectImage" type="button" class="btn btn-user-selectImage" onclick="FileUserPhoto.click()">Select Image</button>
                                        <button id="btnClearImage" type="button" class="btn btn-user-removeImage" onclick="userPictureRemove()">Clear Image</button>
                                    </div>
                                    <p id="textUserPhoto">No Image Selected</p>
                                </div>
                                <input type="file" class="d-none" id="FileUserPhoto" onchange="validateFileField(this,'user','photo','photoname','oldUser',imgUserPhoto,textUserPhoto)">
                                <!--  /todo add default image-->
                            </div>

                            <div class="col-7">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="selectFullname" aria-label="Floating label select example" onchange="selectDynamicValidator(this,'','user','employee_id')"></select>
                                    <label for="selectFullname">Employee Name <span class="requiredIcon">*</span></label>
                                </div>
                            </div>


                        </div>
                        <!-- employee name select end -->

                        <!-- username Input Start -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="textUsername" placeholder="" required onkeyup="textValidator(textUsername,'^[A-Za-z0-9]{5,10}$','user','username')">
                                    <label for="textUsername">Username <span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- username Input end -->
                            <!-- email Input start -->
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="textEmail" placeholder="" required onkeyup="textValidator(this,'^[A-Za-z0-9_-]{8,20}[@][a-z]{3,10}[.][a-z]{2,3}$','user','email')">
                                    <label for="textEmail">Email<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- email Input end -->
                        </div>

                        <div class="row">
                            <!-- pasword start -->
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="textPassword" placeholder="" required onkeyup="textValidator(textPassword,'^[A-Za-z0-9]{8,20}$','user','password')">
                                    <label for="textPassword">Password<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- pasword end -->
                            <!-- repasword start -->
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="textRePassword" placeholder="" required onkeyup="passwordRetypeValidator()">
                                    <label for="textRePassword">Re-Password<span class="requiredIcon">*</span></label>
                                </div>
                            </div>
                            <!-- repasword end -->

                        </div>
                        <!-- checkbox user active start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="p-4 d-flex gap-3">
                                    <input type="checkbox" name="status" id="checkStatus" onchange="setUserStatus()">
                                    <label for="checkStatus" id="labelUserStatus">User is InActive</label>
                                </div>
                            </div>
                        </div>
                        <!-- checkbox user active end -->

                        <!-- checkbox user role start -->
                        <div class="row">
                            <div class="col-12">User Roles:</div>
                        </div>
                        <div class="row">
                            <div id="divRoles"></div>
                            <!-- <div class="col-3">
                            <div class="p-4 d-flex gap-2">
                                <input type="checkbox" name="role" id="checkRoleAdmin">
                                <label for="checkRoleAdmin">Admin</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="p-4 d-flex gap-2">
                                <input type="checkbox" name="status" id="checkRoleManager">
                                <label for="checkRoleManager">Manager</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="p-4 d-flex gap-2">
                                <input type="checkbox" name="status" id="checkStoreManager">
                                <label for="checkStoreManager">Store Manager</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="p-4 d-flex gap-2">
                                <input type="checkbox" name="status" id="checkCashier">
                                <label for="checkCashier">Cashier</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div class="px-4 d-flex gap-2">
                                <input type="checkbox" name="status" id="checkTechnician">
                                <label for="checkTechnician">Technician</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="px-4 d-flex gap-2">
                                <input type="checkbox" name="status" id="checkStoreAssistant">
                                <label for="checkStoreAssistant">Store Assistant</label>
                            </div>
                        </div>
 -->
                        </div>
                        <!-- checkbox user role end -->

                    </form>
                </div>
                <!-- model body ends -->

                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <div id="divModifyButton">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-2"><button type="button" class="modal-button modal-btn-print">Print</button></div>
                                <div class="col-2"><button type="button" class="modal-button modal-btn-delete" onclick="deleteEmployee(window['editOb'], window['editRow'])">Delete</button></div>
                                <div class="col-7"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-2"><button type="reset" class="modal-button modal-btn-clear">Clear</button></div>
                            <div class="col-2"><button type="button" id="buttonUpdate" class="modal-button modal-btn-update" onclick="buttonUserUpdate()">Update</button></div>
                            <div class="col-2"><button type="button" id="buttonSubmit" class="modal-button modal-btn-submit" onclick="buttonUserFormSubmit()">Submit</button></div>
                            <div class="col-1"></div>
                        </div>
                    </div>

                </div>


            </div>
            <!-- model content ends -->
        </div>
    </div>


</body>

</html>