* {
    font-family: 'helvetica now display';
}

body {
    background-color: #B9F8CF !important;
}

.requiredIcon {
    color: red;
    font-weight: 900;
}

.Btn {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #103D45;
}

.Btn:hover {
    background-color: #0D3239;
    border: 1px solid #0D3239;
}

.addBtn {
    background-color: #103D45;
    color: white;
}

.printTableBtn {
    background-color: #B3C41C;
    margin-right: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #B3C41C;
}

.printTableBtn:hover {
    border: 1px solid #687401;
    background-color: #687401;
}

.modal-button {
    width: 5rem;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.modal-btn-submit {
    background-color: #103D45;
    color: white;
    border: 2px solid #103D45;
}

.modal-btn-update {
    background-color: #008080;
    color: white;
    border: 2px solid #008080;
}

.model-btn-disable {
    background-color: transparent;
    border: 2px solid #717171;
}

.modal-btn-clear {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.modal-btn-delete {
    background-color: #F25454;
    color: white;
    border: 2px solid #F25454;
}

.modal-btn-print {
    background-color: #B3C41C;
    color: white;
    border: 2px solid #B3C41C;
}

.modal-btn-submit:hover {
    background-color: #0D3239;
    color: white;
    border: 2px solid #0D3239;
}

.modal-btn-update:hover {
    background-color: #00b7b7;
    color: white;
    border: 2px solid #00b7b7;
}

.modal-btn-clear:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.modal-btn-delete:hover {
    background-color: #FF2E2E;
    color: white;
    border: 2px solid #FF2E2E;
}

.modal-btn-print:hover {
    background-color: #89A118;
    color: white;
    border: 2px solid #89A118;
}


/* for Print Section */

.label-logo {
    font-size: 12px;
}

.print-window {
    border-radius: 16px;
    padding: 10px;
}

.print-container {
    width: 100%;
    background: white;
}


/*##############################################################################
Navbar and Sidebar
##############################################################################*/

.dropdown {
    z-index: 9999 !important;
}

.bg-green {
    background: rgba(255, 255, 255, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.hww {
    --bs-gutter-x: 0;
}

.zminIndex {
    z-index: 0;
}

.zIndx {
    z-index: 1;
}

.user-drop {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-img {
    border-radius: 20px;
}

.btn-burger {
    background-color: #ffffff96;
}

.btn-profile {
    background-color: #ffffff96;
}

.this-disabled {
    pointer-events: none;
}

.btn-logout-a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: red;
    background-color: rgba(255, 0, 0, 0.152);
    font-weight: 500;
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    margin-left: 25%;
    margin-bottom: 10px;
}

.btn-logout-a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(255, 0, 0);
    border: 2px solid red;
}

.canves-size {
    --bs-offcanvas-width: 300px;
}

.sidebar-btn {
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.sidebar-btn:hover {
    background-color: #7ff990;
}

.get-nav-top {
    z-index: 100;
}


/* ############################################################### */


/* ###########################Item Status######################### */


/* ############################################################### */

.item-status-available {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: green;
    color: white;
    text-align: center;
}

.item-status-resign {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: orange;
    color: white;
    text-align: center;
}

.item-status-delete {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;
    text-align: center;
}

.item-status-other {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: grey;
    color: white;
    text-align: center;
}


/* ############################################################### */

.dropdown-menu {
    box-shadow: 0.8px 3.7px 2.3px rgba(0, 0, 0, 0.011), 2.1px 9.7px 5.5px rgba(0, 0, 0, 0.017), 4.6px 21.2px 10.5px rgba(0, 0, 0, 0.021), 10.2px 46.9px 18.9px rgba(0, 0, 0, 0.026), 19px 87.3px 36.1px rgba(0, 0, 0, 0.033), 27px 124px 84px rgba(0, 0, 0, 0.05);
}


/* ############################################################### */


/* ############################################################### */


/* side bar drawer design */


/* ############################################################### */

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
}

.nav-link:hover {
    background-color: #7ff990;
}

.nav-item {
    list-style: none;
}