* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: rgb(0, 240, 132);
}

.modal-button {
    width: 5rem;
    padding: 5px;
    border-radius: 6px;
    font-weight: 600;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 94rem !important;
}

.serial-no-button {
    background-color: #00dcbb;
    padding: 15px;
    padding-inline: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    color: white;
}

.serial-no-button:hover {
    background-color: #00b69a;
}

.success-status-btn {
    padding: 5px;
    width: 100px;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 10px;
    color: rgb(0, 255, 0);
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.203);
}

.status-dot {
    padding-left: 6px;
    width: 7px;
    height: 7px;
    background-color: rgb(0, 255, 0);
    border-radius: 50px;
}


/* Inner Form Button start */

.inner-cancel-btn {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.inner-update-btn {
    background-color: #008080;
    color: white;
}

.inner-add-btn {
    background-color: #008080;
    color: white;
}

.inner-add-btn:hover {
    color: white;
    background-color: #005c5c;
}

.inner-update-btn:hover {
    color: white;
    background-color: #005c5c;
}

#grnSerialNoInnerModel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.serial-numbers-container {
    max-height: 300px;
    overflow-y: auto;
}

#innerSupplierTable {
    border: 1px solid #103D45;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

#innerSupplierTable thead {
    background-color: #00B69B;
    color: white;
}

#innerSupplierTable thead tr th:first-child {
    border-top-left-radius: 5px;
}

#innerSupplierTable thead tr th:last-child {
    border-top-right-radius: 5px;
}