* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%) !important;
}

.Btn {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #6669b0;
}

.Btn:hover {
    background-color: #43456e;
    border: 1px solid #43456e;
}

.addBtn {
    background-color: #6669b0;
    color: white;
    padding-inline: 40px;
    padding-block: 7px;
    margin-bottom: 5px;
}

.printTableBtn {
    background-color: #c471f5;
    margin-right: 10px;
    color: white;
    padding-inline: 30px;
    padding-block: 7px;
    border: 1px solid #c471f5;
}

.printTableBtn {
    background-color: #c471f5;
    margin-right: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #c471f5;
}

.printTableBtn:hover {
    border: 1px solid #b83dff;
    background-color: #b83dff;
}

.btnDel:hover {
    color: red;
}

.btnEdit:hover {
    color: rgb(0, 255, 0);
}

.btnView:hover {
    color: #6669b0;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
}

.radioAlign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radioBtnAlign {
    display: flex;
    align-items: center;
    gap: 30px;
}

.status-working {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: green;
    color: white;
    text-align: center;
}

.status-resign {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #FFEDDD;
    text-align: center;
    padding-inline: 30px;
    padding-block: 8px;
    color: #ff9d48;
}

.status-delete {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #FCD7D4;
    text-align: center;
    padding-inline: 30px;
    padding-block: 8px;
    color: #EF3826;
}

.status-other {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: grey;
    color: white;
    text-align: center;
}

.status-active {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #CCF0EB;
    text-align: center;
    padding-inline: 30px;
    padding-block: 8px;
    color: #00B69B;
}