* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
}

.addBtn {
    background-color: #6669b0;
    color: white;
    padding-inline: 40px;
    padding-block: 7px;
    margin-bottom: 5px;
}

.printTableBtn {
    background-color: #c471f5;
    margin-right: 10px;
    color: white;
    padding-inline: 30px;
    padding-block: 7px;
    border: 1px solid #c471f5;
}

.btnDel:hover {
    color: red;
}

.btnEdit:hover {
    color: rgb(0, 255, 0);
}

.btnView:hover {
    color: #6669b0;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
}

.radioAlign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radioBtnAlign {
    display: flex;
    align-items: center;
    gap: 70px;
}

#imageContainer {
    display: flex;
}

#uploadedImage {
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    border-radius: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
}

.user-inactive {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #FCD7D4;
    text-align: center;
    padding-inline: 30px;
    padding-block: 8px;
    color: #EF3826;
}

.user-active {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #CCF0EB;
    text-align: center;
    padding-inline: 30px;
    padding-block: 8px;
    color: #00B69B;
}

tr {
    cursor: pointer;
}

.btn-user-selectImage {
    background-color: #00bbff;
    margin: 5px;
}

.btn-user-removeImage {
    background-color: tomato;
    color: white;
    margin: 5px;
}

.btn-user-selectImage:hover {
    background-color: #007ca9;
}

.btn-user-removeImage:hover {
    background-color: rgb(255, 36, 36);
}

#textUserPhoto {
    margin-left: 5px;
}